/*project details*/

.project_details {
    margin: 0 auto;
    max-width: 865px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.project_details__link {
    margin-bottom: 40px;
}

.project_details__link:hover {
    opacity: 0.8;
    transition: opacity 0.2s ease-in;
}

.project_details__link-cover {
    max-width: 100%;


    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.project_details__desc {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
}

